/* global.css */

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Junge:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@400&display=swap');

html,
body {
    background-color: #01050e;
    /* Adjust the color to match your dark theme */
    min-height: 100%;
    margin: 0;
    color: rgb(255, 255, 255);
    font-family: 'Quicksand', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Oxygen', sans-serif;
        color: #ffffff;
}

h3 {
    font-size: 26px;
}

p, li {
    font-size: 16;
    font-weight: 400;
    color: #bdbdbd;
    line-height: 1.6;
}

strong {
    color: #ededed;
    font-family: 'Oxygen', sans-serif;
}

.text-center {
    text-align: center;
}


.brand {
    font-family: 'Junge', sans-serif;
}

.title {
    font-size: 40pt;
}

.nav-item {
    font-size: 14pt;
}

.divider-cinderscript {
    height: 2px;
    /* Height of the divider */
    background: linear-gradient(to right,
            black 0%,
            rgb(55, 0, 0) 20%,
            rgb(180, 0, 0) 22%,
            rgb(208, 66, 0) 50%,
            rgb(180, 0, 0) 77%,
            rgb(55, 0, 0) 79%,
            black 100%);
    background-size: 1300px 100%;
    /* Fixed width of the gradient */
    background-repeat: no-repeat;
    background-position: center;
    /* Center the background */
}